In [10]:
import pandas as pd
import json

In [ ]:
# Opening the file & Storing
with open ("JSON File Example.json", "r") as json_file:
    data = json.load(json_file)

rov_data = data["ROV Depth"]
display(rov_data)

[{'Seconds': '1', 'Height (ft)': '5'},
 {'Seconds': '2', 'Height (ft)': '5'},
 {'Seconds': '3', 'Height (ft)': '4'},
 {'Seconds': '4', 'Height (ft)': '6'},
 {'Seconds': '5', 'Height (ft)': '6'},
 {'Seconds': '6', 'Height (ft)': '7'},
 {'Seconds': '7', 'Height (ft)': '7'},
 {'Seconds': '8', 'Height (ft)': '10'},
 {'Seconds': '9', 'Height (ft)': '11'},
 {'Seconds': '10', 'Height (ft)': '12'},
 {'Seconds': '11', 'Height (ft)': '9'},
 {'Seconds': '12', 'Height (ft)': '10'}]

In [21]:
for item in rov_data:
    feet = int(item["Height (ft)"].split()[0])
    item["Height (inches)"] = feet * 12

df = pd.DataFrame(rov_data)

display(df)

   Seconds Height (ft)  Height (inches)
0        1           5               60
1        2           5               60
2        3           4               48
3        4           6               72
4        5           6               72
5        6           7               84
6        7           7               84
7        8          10              120
8        9          11              132
9       10          12              144
10      11           9              108
11      12          10              120